---
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro Test Run - Blog Page</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/blog/">Blog</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>First Post!</h1>
      <h2>Awesome!</h2>

      <ul>
        <li><a href="/posts/post-1/">Some other stuff and words here.</a></li>
        <li><a href="/posts/post-2/">Post 2</a></li>
        <li><a href="/posts/post-3/">Post 3</a></li>
      </ul>

      <p>I will add more content soon!</p>
    </main>
    <footer></footer>
  </body>
</html>
